* {
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: content-box;
}
body{
    background: linear-gradient(to right, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.container{
    position: relative;
    overflow: hidden;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8); /* שקיפות כדי לראות את הגרדיאנט */
    padding: 28px 32px;
    border-radius: 18px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}
.search-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.search-box input{
    width: 55%;
    height: 40px;
    border-radius: 15px;
}
.search-box input::placeholder{
text-align: center
}
.search-box button {
    width: auto;
    height: 40px;
    padding: 0 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
.search-box button:hover {
    cursor: pointer;
    background-color: #f0f0f0; /* שינוי צבע ברקע בה-hover */
}
.search-box button i {
    margin-right: 8px; /* מרווח קטן בין האייקון לבין הטקסט */
}
.weather-error{
    display: block;
}
.weather-error span{

}
.weather-box img{
    margin-left: 95px

}
.temp_min{
    margin-left: 150px
}
.weather-box .temperature{
    display: none;
    text-align: center;
}
.weather-box .temperature {
    display: block;
    text-align: center;
    font-size: 32px;
}
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.weather-details .humidity .weather-details .wind{

}
.weather-details .humidity{
padding-left: 20px;
    justify-content: flex-start;
}
.weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}
.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}